<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=450, user-scalable=no">
	<meta name="google-site-verification" content="Eg88Zx9FZbtV8DuMLO5-76p9DSzqq-QBv9tHVwZC1yM" />

	<!-- Facebook Meta Data -->
	<meta property="og:site_name" content="Defvayne23.com">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:url" content="{{ site.domain }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}/">
  {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
  {% else %}
	  <meta property="og:description" content="{{ site.description }}">
  {% endif %}
	{% if page.date != nil %}
		<meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
	{% endif %}
	{% if page.category != nil %}
		<meta property="article:section" content="{{ page.category }}">
	{% endif %}
	{% if page.image != nil %}
		<meta property="og:image" content="{{ site.domain }}{{ page.image }}">
	{% endif %}
    <meta property="og:image" content="{{ site.domain }}/images/profile_image.jpg">
	{% for tag in page.tags %}
		<meta property="article:tag" content="{{ tag }}">
	{% endfor %}

  <!-- Twitter Meta Data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@defvayne23">
  <meta name="twitter:domain" content="{{ site.domain }}">
  <meta name="twitter:url" content="{{ site.domain }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}/">
  <meta name="twitter:title" content="{{ page.title }}">
  {% if page.excerpt %}
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.image != nil %}
    <meta name="twitter:image" content="{{ site.domain }}{{ page.image }}">
  {% else %}
    <meta name="twitter:image" content="{{ site.domain }}/images/profile_image.jpg">
  {% endif %}

	<title>{{ page.title }} - Defvayne23.com</title>

	<link rel="canonical" href="{{ site.domain }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}/" />

	<link rel="author" href="humans.txt">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	<link rel="alternate" type="application/rss+xml" title="Blog Feed" href="{{ site.domain }}/rss.xml">

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="/css/style.css?v=3">
	<link rel="stylesheet" href="/css/highlight.css?v=3">
	<script src="/js/custom.modernizr.js"></script>
</head>
<body{% if page.title != nil %} class="{{ page.title | downcase | replace:' ','_' }}"{% endif %}>
	<div class="container">
		<div id="navigation">
			<h1><a href="/">John Hoover</a></h1>
			<h2>aka defvayne23</h2>

			<img src="/images/profile_image.jpg" alt="John Hoover" class="avatar">

			<p>
				{{ site.description }}
			</p>

			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/projects/">Projects</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/archive/">Archive</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>

			<div id="social">
				{% for social in site.social %}
					<a href="{{ social.url }}" title="{{ social.name }}" target="_blank"><img src="{{ social.image }}" alt="{{ social.name }}" /></a>
				{% endfor %}
			</div>
		</div>
		<div id="content">
			{{ content }}
		</div>
	</div>

	<script src="/js/app.js"></script>

	<script>
	var _gaq=[['_setAccount','UA-734681-2'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
	<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'defvayne23'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</body>
</html>
