<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=450, user-scalable=no">

	<title>{{ page.title }}</title>

	<link rel="author" href="humans.txt">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">

	<link rel="stylesheet" href="/css/style.css?v=3">
	<link rel="stylesheet" href="/css/highlight.css?v=3">
	<script src="/js/custom.modernizr.js"></script>
</head>
<body>
	<div class="container">
		<div id="navigation">
			<h1><a href="/">John Hoover</a></h1>
			<h2>aka defvayne23</h2>

			<img src="/images/profile_image.jpg" alt="John Hoover" class="avatar">
			
			<p>
				Web devloper in Austin, TX. Consumer of pizza.
			</p>

			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/projects/">Projects</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="#">Archive</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>

			<div id="social">
				{% for social in site.social %}
					<a href="{{ social.url }}" title="{{ social.name }}" target="_blank"><img src="{{ social.image }}" alt="{{ social.name }}" /></a>
				{% endfor %}
			</div>
		</div>
		<div id="content">
			{{ content }}
		</div>
	</div>
	
	<script src="/js/app.js"></script>

	<script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'defvayne23'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    
	<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
