---
layout: default
---

<div class="post_container">
	<h3>{{ page.title }}</h3>
	{% if page.category != empty %}<div class="category {{ page.category | downcase }}">{{ page.category }}</div>{% endif %}
	<div class="post_details">
		<div class="date">{{ page.date | date: "%b %d, %Y" }}</div>
		{% if page.tags != empty %}
			<div class="tags"><span>Tags:</span> {{ page.tags | array_to_sentence_string }}</div>
		{% endif %}
		<div class="comments"><a href="{{ post.url }}#comments">0 Comments</a></div>
	</div>

	<div class="post_content">
		{{ content }}
	</div>
</div>
